<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="text-center fs-2 mt">Ajouter Un Utilisateur</h1>

        <!-- Creating Form -->
        <form class="text-center" action="">
          <mat-form-field class="width mr" appearance="outline">
            <mat-label class="f-s">Nom</mat-label>
            <input
              type="text"
              matInput
              class="f-s"
              placeholder="Nom de l'utilisateur"
              name="nom"
              [(ngModel)]="user.nom"
              required
            />
          </mat-form-field>
          <mat-form-field class="width" appearance="outline">
            <mat-label class="f-s">Prénom</mat-label>
            <input
              class="f-s"
              matInput
              placeholder="prénom de l'utiliateur"
              type="text"
              name="prenom"
              [(ngModel)]="user.prenom"
              required
            />
          </mat-form-field>
          <br />
          <mat-form-field class="width mr" appearance="outline">
            <mat-label class="f-s">Date de Naissance</mat-label>
            <input
              matInput
              class="f-s"
              placeholder="Date de Naissance"
              type="date"
              name="dateNaissance"
              [(ngModel)]="user.dateNaissance"
              required
            />
          </mat-form-field>
          <mat-form-field class="width" appearance="outline">
            <mat-label class="f-s">E-mail</mat-label>
            <input
              class="f-s"
              matInput
              placeholder="exemple@gmail.com"
              type="email"
              name="email"
              [(ngModel)]="user.email"
              required
            />
          </mat-form-field>
          <br />
          <mat-form-field class="width mr" appearance="outline">
            <mat-label class="f-s">Téléphone</mat-label>
            <!-- <span class="f-s" matPrefix>+212 &nbsp;</span> -->
            <input
              class="f-s"
              matInput
              placeholder="0655555123"
              type="tel"
              name="tel"
              [(ngModel)]="user.tel"
              required
            />
          </mat-form-field>
          <mat-form-field class="width" appearance="outline">
            <mat-label class="f-s">Adresse</mat-label>
            <input
              class="f-s"
              matInput
              placeholder="Adresse"
              type="text"
              name="adresse"
              [(ngModel)]="user.adresse"
              required
            />
          </mat-form-field>
          <br />

          <!-- <mat-label>Situation Familiale </mat-label> -->
          <div class="container full-width rb">
            <mat-radio-group
              class="full-width"
              appearance="outline"
              aria-label="Select an option"
              name="situationFamiliale"
              [(ngModel)]="user.situationFamiliale"
            >
              <span class="mr tl f-s">Situation Familiale :</span>
              <br class="rl" />
              <mat-radio-button class="mr f-s marg-t" value="MARIE">
                Marié(e)
              </mat-radio-button>
              <mat-radio-button class="mr f-s" value="DIVORCE">
                Divorvé(e)
              </mat-radio-button>
              <mat-radio-button class="mr f-s" checked value="CELIBATAIRE">
                Célibataire
              </mat-radio-button>
            </mat-radio-group>
          </div>
          <br />
          <mat-form-field class="width mr" appearance="outline">
            <mat-label class="f-s">Date de D'entrée</mat-label>
            <input
              matInput
              class="f-s"
              placeholder="Date d'entrée"
              type="date"
              name="dateEntree"
              [(ngModel)]="user.dateDebut"
              required
            />
          </mat-form-field>

          <mat-form-field class="width" appearance="outline">
            <mat-label class="f-s"> Type Utilisateur </mat-label>
            <mat-select
              [(ngModel)]="user.typeUtilisateur"
              name="typeUtilisateur"
            >
              <mat-option class="f-s" selected value="RESIDANT">
                Résidant
              </mat-option>
              <mat-option class="f-s" value="SYNDIC_RESIDANT">
                Syndic Résidant
              </mat-option>
              <mat-option class="f-s" value="SYNDIC_EXTERNE">
                Syndic Externe
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Choose Immeuble -->
          <mat-form-field class="width mr" appearance="outline">
            <mat-label class="f-s"> Selectionner un Immeuble </mat-label>
            <mat-select [(ngModel)]="user.immeuble" name="immeuble">
              <mat-option
                class="f-s"
                *ngFor="let imm of immeuble"
                [value]="imm"
              >
                {{ imm.nom }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <!-- Choose Appartement -->
          <mat-form-field class="width" appearance="outline">
            <mat-label class="f-s"> Selectionner un Appartement </mat-label>
            <mat-select [(ngModel)]="user.appartement" name="appartement">
              <mat-option
                class="f-s"
                *ngFor="let app of appartement"
                [value]="app"
              >
                {{ app.numero }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <div class="container text-center mt">
            <button
              mat-raised-button
              class="fs-5 full-width-btn"
              type="submit"
              color="primary"
              (click)="onSaveUtilisateur()"
            >
              Ajouter
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
