<div class="container spacer">
  <div class="card border-primary">
    <nav class="navbar bg-light">
      <form class="container-fluid">
        <div class="input-group">
          <button
            mat-raised-button
            class="button br"
            routerLink="/ajouterCaisse"
          >
            Ajouter Caisse
          </button>
          <input
            type="text"
            class="form-control"
            placeholder="Le nom de L'immeuble"
            aria-label="Username"
            aria-describedby="basic-addon1"
          />
          <a routerLink="" class="td">
            <span class="input-group-text" id="basic-addon1">Chercher</span>
          </a>
        </div>
      </form>
    </nav>
    <div class="card card-header" class="fs-2 text-white bg-primary head">
      Liste de Caisse
    </div>
    <div class="card-body">
      <table class="table table-hover">
        <thead>
          <tr>
            <th>ID</th>
            <th>Utilisateur</th>
            <th>Immeuble</th>
            <th>Type</th>
            <th>Détail Type</th>
            <th>Somme</th>
            <th>Date</th>
            <th>Editer</th>
            <th>Supprimer</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of caisse">
            <td>{{ c.id }}</td>
            <td>{{ c.utilisateur.nom }}</td>
            <td>{{ c.immeuble.nom }}</td>
            <td>{{ c.type }}</td>
            <td>{{ c.detailType }}</td>
            <td>{{ c.somme }}</td>
            <td>{{ c.date }}</td>

            <td>
              <a mat-raised-button color="primary" (click)="toEdit(c.id)">
                <mat-icon>edit</mat-icon>
              </a>
            </td>
            <td>
              <a mat-raised-button color="primary" (click)="onDeleteCaisse(c)">
                <mat-icon>delete</mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
